.nav-btn, .nav-btn2, .head-btn {
    outline: none;
    border: 0;
    box-shadow: none;
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
}

.nav-btn2, .head-btn {
    background: rgba(55, 43, 122, 0.882);
    color: #fff;
    border-radius: 5px;
}

.nav-link {
    -webkit-text-fill-color: rgb(163, 161, 161);
}

.nav-btn2:hover {
    background: rgba(83, 63, 194, 0.882);
}

.head-item {
    color: rgba(55, 43, 122, 0.882);
}

.para-item {
    color: rgba(0, 0, 0, 0.3);
}

.head-btn {
    text-transform: uppercase;
    padding: 7px 35px;
}

.head-img {
    width: 100%;
}

.Intership {
    width: 50%;
}

.head-img-2 {
    width: 100%;
}

.agend {
    margin: 5% auto;
}

.card-section h3{
    color: #fff;
}

.card-section p {
    color: #fff;
}

.card-body {
    text-align: center;
    -webkit-text-fill-color: #0E0E0E;
    background: #fff;
}

.card-item {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-item-footer {
    background: #ee5564d3;
    padding: 2px;
}

.my-section {
    background: #d8d4d4cc;
    height: 500px;
    padding: 5%;
    margin-bottom: -16%;
}

.testimonial-sec {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-evenly;
}

.text-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: inherit;
    background: #FFFFFF;
    padding: 5%;

}

.text-card-line {
    width: 100%;
    margin: 2%;
    height: 1px;
    border: #000000;
    background-color: #000000;
}

.review-part {
    width: 100%;
    gap: 5%;
    display: flex;
    /* justify-content: space-evenly; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
}

.review-json {
    justify-content: center;
    display: flex;
}

.fa {
    padding: 10px 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-weight: 600;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
.fa:hover {
    background: #5000CA;
    color: #fff;
}

.card-head {
    background: rgb(236, 107, 129);
    padding: 15px 12px;
}

.card-head-2 {
    background: blue;
    padding: 15px 12px;
}

.card-head-3 {
    background: gold;
    padding: 15px 12px;
}

.card-head p {
    color:#fff;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;

}

.card-head-2 p {
    color: #fff;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
}

.footer-img {
    size: 5px;
}

.card-head-3 p {
    color: #fff;
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
}

.card-foot {
    text-align: center;
}

.will {
    color: rgb(27, 27, 104);
    font-weight: 900;
}

.card-component {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}

.card-foot {
    padding: 40px ;
}

@media screen and (max-width: 580px) {
    .reviews {
        display: block;
    }
    
}


.modal {
    width: 80%;
    height: 150px;
    background: #2553e9;
    /* background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10%;
    margin-bottom: -5%;
}
.head-1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E;
    margin-left: 48px;
    margin-top: 32px;
}

.subhead {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #000000;
    margin-left: 48px;
    margin-top: -16px;
}

.head-btn {
    background: #000000;
    border-radius: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    padding: 8px 24px;
}


/* footer */

.thefooter {
    width: screen;
    height: inherit;
    background: rgba(55, 43, 122, 0.882);


}

.footertext {
    -webkit-text-fill-color: #FFFFFF;
    padding: 10%;
}

.footertext p {
    width: 60%;
}